.home_container{
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;    
   align-items: center;
    
}
.game_container{
    width: 80%;
    height: 80%;
    flex-direction: row;
    
    
}
